*{
    box-sizing: border-box;
}
@media  screen and (max-width: 700px) {
    body{
        background-color: bisque;
    }
    .header img{
        margin-left:10px;
        margin-top:20px;
    }
    .header ul{
        padding-right:10px;
        margin-left:120px;
        margin-top:-17px;

    }
    .header ul li{
        padding-right: 10px;
        font-size:12px;
    }
    .header ul li:hover ul{
        left:-50px;
    }
    .header ul li ul li{
        left:-50px;
        font-size:12px;
    }
    .header ul li ul li ul li{
        width:40px;
        padding-left:5px;
        font-size:12px;
    }
    .header button{
        margin-left:382px;
        font-size:8px;
        border-radius:20px;
        padding:8px 16px;
        margin-top:-19px;
    }
    .second{
        margin-left:25px;

    }
    .sec1{
        width:240px;
    }
    .sec2 img{
        height:180px;
        width:225px;
        margin-left:30px;
    }
    .sec1 h1{
        font-size:1rem;
    }
    .sec1 p{
        font-size:14px;
    }
    .btn1 button{
        font-size:12px;        
        padding:6px 12px;
        border-radius:20px;
    }
    .btn2 button{
        font-size:12px;        
        padding:6px 12px;
        border-radius:20px;
    }
}